
$light: #BDD9BF;
$color1: #2E4052;
$color2: #FFC857;
$red:#e63946;

$dark: #001524;

$primary: $color1;
$secondary: $light;
$info: $color2;

$primary-bg-gardient: linear-gradient(175deg, $primary ,darken($primary, 10%));
$primary-card-bg-gardient: linear-gradient(90deg, $primary ,darken($primary, 10%));
$secondary-bg-gardient: linear-gradient(175deg, $secondary ,darken($secondary, 10%));
$light-bg-gardient: linear-gradient(90deg, darken($light, 10%), $light);

@import "~bootstrap/scss/bootstrap";
