@import '../../styles/colors';

.skills-section{
    
    position: relative;
    height: fit-content;
    min-height: 100vh;
    z-index:1;
    
    h2{
        padding-top: 50px;
        @media screen and (min-width: 1200px) {
            padding-top: 200px;
        }
    }

    img{
        height: 80px;
    }

    .custom-shape-divider-top-1676596703 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-top-1676596703 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 51px;
        transform: rotateY(180deg);
        @media screen and (min-width: 1200px) {
            height: 195px;
        }
    }
    
}