@import '../styles/colors';

.project-card{

    position: relative;
    background-image: $primary-card-bg-gardient;
    height: 100%;
    a{
        text-decoration: none;
    }

    img{
        width: 100%;
        object-fit: cover;
        margin: 0;
        padding: 0;
    }

    .hover-underline-animation {
        display: inline-block;
        position: relative;
        color: $info;
      }
      
      .hover-underline-animation::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 4px;
        bottom: 0;
        left: 0;
        background-color: $info;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      &:hover{
        .hover-underline-animation::after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
    }

    .card-skill-info{
      font-size: 10px;
    }
    .card-links-btns{
      font-size: 30px;
      position: absolute;
      bottom: 30px;
      left: 20%;
      right: 20%;
    }

} 
