@import '../../styles/colors';

$dark-secondary: darken($secondary, 20%);

section{
    border: none;
}
.intro-section{
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
    background: $info;
    background-color: $secondary;

    

    .custom-shape-divider-bottom-1676575100 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-bottom-1676575100 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 392px;
        transform: rotateY(180deg);
    }
    
    .custom-shape-divider-bottom-1676575100 .shape-fill {
        fill: $primary;
    }
    
}